<%= form_with(model: [:backoffice, workout_sheet], data: { turbo: false }, class: "contents") do |form| %>
  <% if workout_sheet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2>
        <%= pluralize(workout_sheet.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul class="list-disc ml-6">
        <% workout_sheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: [
      "block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full",
      {"border-gray-400 focus:outline-blue-600":
      workout_sheet.errors[:title].none?,
      "border-red-400 focus:outline-red-600": workout_sheet.errors[:title].any?}]
    %>
  </div>

  <div class="my-5">
    <%= form.label :user_id, "User" %>
    <%= form.select :user_id,
      @users.map { |user| [user.name, user.id] },
      { prompt: "Select User" },
      { class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full",
      { "border-gray-400 focus:outline-blue-600": workout_sheet.errors[:user_id].none?,
      "border-red-400 focus:outline-red-600": workout_sheet.errors[:user_id].any? }] }
    %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-yellow-500 hover:bg-yellow-400 text-gray-900 font-medium cursor-pointer" %>
  </div>
<% end %>
