<div class="min-h-[calc(100vh-64px)] px-32 pt-20">
  <header class="mb-8 mt-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Workout Sheet List</h1>
    <%= link_to "New Workout Sheet", new_backoffice_workout_sheet_path,
      class: "rounded-md px-3.5 py-2.5 bg-yellow-500 hover:bg-yellow-400 text-gray-900 font-medium cursor-pointer sm:ml-4"
    %>
  </header>

  <div class="relative overflow-x-auto w-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3">User</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span> /
            <span class="sr-only">Show</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @workout_sheets.each do |workout_sheet| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= workout_sheet.title %>
            </th>
            <td class="px-6 py-4"><%= workout_sheet.user.name %></td>
            <td class="px-6 py-4 text-right">
              <%= link_to "Edit", edit_backoffice_workout_sheet_path(workout_sheet), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2" %>
              <%= link_to "Show", backoffice_workout_sheet_path(workout_sheet.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
